<style>
  img {
        height: 60px;
        object-fit: scale-down;
        object-position: right;
  }

</style>

    <footer class="navbar navbar-expand-lg bg-primary fixed-bottom" style="margin-bottom:0px">
        <div class="container-fluid ">
                <a target="_blank" rel="noopener noreferrer" 
                href="#" class="simple-text logo-normal img-responsive center-block d-block mx-auto">
                   <img src='/static/assets/img/LOGOBRANCAsedeeri.png'/>
               </a>
        </div>
    </footer>


