{% extends "layouts/base.html" %}

{% block title %} Sala de Situação {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
col-md-4 {
  float: left;
}

body{
  background-image: url("/static/assets/img/screen_2x.png");
  background-size:contain;
}

.card-header{
  cursor: pointer;
}

.row{
  margin-right: 60px;
}

/* * { border: 1px solid black; } */



</style>

{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card card-chart">
          <div class="card-header card-header-warning" style="background-image:url(/static/assets/img/1.png);background-repeat: no-repeat; background-size:cover;height:90px" onclick="openLink('google.com')">
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons" style="color:green">circle</i> Online
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card card-chart">
          <div class="card-header card-header-warning" style="background-image:url(/static/assets/img/2.png);background-repeat: no-repeat; background-size:cover;height:90px" onclick="openLink('google.com')">
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons" style="color:green">circle</i> Online
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card card-chart">
          <div class="card-header card-header-warning" style="background-image:url(/static/assets/img/3.png);background-repeat: no-repeat; background-size:cover;height:90px" onclick="openLink('google.com')">
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons" style="color:green">circle</i> Online
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card card-chart">
          <div class="card-header card-header-warning" style="background-image:url(/static/assets/img/4.png);background-repeat: no-repeat; background-size:cover;height:90px" onclick="openLink('google.com')">
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons" style="color:red">circle</i> Em Desenvolvimento
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <img src="/static/assets/img/Situacao.png" style="height: 90%;">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card card-chart">
          <div class="card-header card-header-warning" style="background-image:url(/static/assets/img/5.png);background-repeat: no-repeat; background-size:cover;height:90px" onclick="openLink('google.com')">
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons" style="color:green">circle</i> Online
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card card-chart">
          <div class="card-header card-header-warning" style="background-image:url(/static/assets/img/6.png);background-repeat: no-repeat; background-size:cover;height:90px" onclick="openLink('google.com')">
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons" style="color:red">circle</i> Em Desenvolvimento
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card card-chart">
          <div class="card-header card-header-warning" style="background-image:url(/static/assets/img/7.png);background-repeat: no-repeat; background-size:cover;height:90px" onclick="openLink('google.com')">
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons" style="color:green">circle</i> Online
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    // $(document).ready(function() {
    //   // Javascript method's body can be found in assets/js/demos.js
    //   md.initDashboardPageCharts();

    // });

    function openLink(link){
      window.open(link, '_blank').focus();
    }
  </script>

{% endblock javascripts %}
