{% extends "layouts/base.html" %}

{% block title %} Sala de Situação {% endblock %} 

<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}
<style>
col-md-4 {
  float: left;
}

body{
  background-image: url("/static/assets/img/screen_2x.png");
  background-size:contain;
}

.card-header{
  cursor: pointer;
}

.row{
  margin-right: 60px;
}

/* * { border: 1px solid black; } */



</style>

{% endblock stylesheets %}

{% block content %}


  <div class="modal" tabindex="-1" role="dialog" id="modalComunicacao">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Redes Sociais SEDEERI</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row" style="margin-left:12%">
            <!-- <li><i class="fa-brands fa-facebook"></i><a href="https://www.facebook.com/sedeerirj/" target="_blank"> Facebook</a></li>
            <li><i class="fa-brands fa-instagram"></i><a href="https://www.instagram.com/sedeerirj/" target="_blank"> Instagram</a></li>
            <li><i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/company/sedeeri/" target="_blank"> Linkdin</a></li>
            <li><i class="fa-solid fa-newspaper"></i><a href="https://www.youtube.com/@Sedeerirj/" target="_blank"> YouTube</a></li>
            <li><i class="fa-solid fa-newspaper"></i><a href="http://www.desenveconomico.rj.gov.br/noticias/" target="_blank"> Comunicação</a></li>
             -->
              <div class="col-md-4">
                <a href="https://www.facebook.com/sedeerirj/" target="_blank"> <img src="/static/assets/img/social/fb.png"/> Facebook</a>
                <a href="https://www.instagram.com/sedeerirj/" target="_blank"> <img src="/static/assets/img/social/ig.png"/> Instagram</a>
              </div>
              <div class="col-md-4">
                <a href="https://www.linkedin.com/company/sedeeri/" target="_blank"> <img src="/static/assets/img/social/lk.ico"/> Linkdin</a>
                <a href="https://www.youtube.com/@Sedeerirj/" target="_blank"> <img src="/static/assets/img/social/yt.ico"/> YouTube</a>
              </div>
              <div class="col-md-4">
                <a href="http://www.desenveconomico.rj.gov.br/noticias/" target="_blank"> <img src="/static/assets/img/social/nw.png"/> Notícias</a>
              </div>
              
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card card-chart">
          <div class="card-header card-header-warning" style="background-image:url(/static/assets/img/1.png);background-repeat: no-repeat; background-size:100% 100%;height:85px;background-color:#0e3c5dd8" onclick="openLink('http://sedeeri.fpsti.com.br/projetos')">
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons" style="color:green">circle</i> Online
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card card-chart">
          <div class="card-header card-header-warning" style="background-image:url(/static/assets/img/2.png);background-repeat: no-repeat; background-size:100% 100%;height:85px;background-color:#0e3c5dd8;" onclick="openLink('https://sei.fazenda.rj.gov.br/sip/login.php?sigla_orgao_sistema=ERJ&sigla_sistema=SEI&infra_url=L3NlaS8=')">
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons" style="color:green">circle</i> Online
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card card-chart">
          <div class="card-header card-header-warning" style="background-image:url(/static/assets/img/3.png);background-repeat: no-repeat; background-size:100% 100%;height:85px;background-color:#0e3c5dd8" data-target="#modalComunicacao" data-toggle="modal">
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons" style="color:green">circle</i> Online
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card card-chart">
          <div class="card-header card-header-warning" style="background-image:url(/static/assets/img/4.png);background-repeat: no-repeat; background-size:100% 100%;height:85px;background-color:#0e3c5dd8" onclick="openLink('http://www.fazenda.rj.gov.br/siaferio/adfAuthentication?success_url=/faces/wcnav_defaultSelection')">
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons" style="color:green">circle</i> Online
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <img src="/static/assets/img/Situacao.png" style="height: 100%;position: absolute;margin-left: 12%;margin-top: -5%;">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card card-chart">
          <div class="card-header card-header-warning" style="background-image:url(/static/assets/img/5.png);background-repeat: no-repeat; background-size:100% 100%;height:85px;background-color:#0e3c5dd8" onclick="openLink('#')">
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons" style="color:red">circle</i> Em Desenvolvimento
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card card-chart">
          <div class="card-header card-header-warning" style="background-image:url(/static/assets/img/6.png);background-repeat: no-repeat; background-size:100% 100%;height:85px;background-color:#0e3c5dd8" onclick="openLink('http://www3.alerj.rj.gov.br/lotus_notes/default.asp?id=144')">
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons" style="color:green">circle</i> Online
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card card-chart">
          <div class="card-header card-header-warning" style="background-image:url(/static/assets/img/8.png);background-repeat: no-repeat; background-size:100% 100%;height:85px;background-color:#0e3c5dd8" onclick="openLink('#')" data-toggle="tooltip" data-placement="top" title="Comissão permanente de politicas para desenvolvimento economico do estado do RJ">
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons" style="color:red">circle</i> Em Desenvolvimento
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card card-chart">
          <div class="card-header card-header-warning" style="background-image:url(/static/assets/img/7.png);background-repeat: no-repeat; background-size:100% 100%;height:85px;background-color:#0e3c5dd8" onclick="openLink('https://realizamaisrj.com.br/Account/Login?ReturnUrl=%2FHome%2FIndex')">
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons" style="color:green">circle</i> Online
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    // $(document).ready(function() {
    //   // Javascript method's body can be found in assets/js/demos.js
    //   md.initDashboardPageCharts();  

    // });

    function openLink(link){
      if(link=='#'){
        swal.fire('Em Desenvolvimento','','error');
      }else{
        window.open(link, '_blank').focus();
      }
      
    }

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

{% endblock javascripts %}
